<html>  
<head>  
<title>success</title>  
</head>  
<body>  
<p>File uploaded successfully</p> 
<p>{{ name }}</p>
<p>Real Image</p>
<br>
<img height="50%" width="50%" src="data:image/png;base64, {{ real }}" alt="Real Image">
<br>
<p>Cartoonified Image</p>
<br>
<img src="data:image/png;base64, {{ celeba }}" alt="Cartoonified Image"> 
<br>
<br>
<img src="data:image/png;base64, {{ facev1 }}" alt="Cartoonified Image"> 
<br>
<br>
<img src="data:image/png;base64, {{ facev2 }}" alt="Cartoonified Image"> 
<br>
<br>
<img src="data:image/png;base64, {{ paprika }}" alt="Cartoonified Image"> 
<br>

<button><a href="/upload">Upload again</a></button>
<br>
<button><a href="/">HomePage</a></button>
</body>  
</html>